/*CSS*/
body {
  padding: 0px;
  margin: 20px auto 30px 150px;
  font:40px Sans-serif;
  letter-spacing: 1px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}
.buttons {
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  font-weight: bold;
  padding: 20px 100px;
  margin-bottom: 0px;
  margin-left: 175px;
  background-color: #2196F3;
  border-radius: 10px;
  width: 300px;
}
header {
  width: 1000px;
}
